.seccion{
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
   
}
.formulario__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1vh;
}
.formulario{
    max-width: 300px;
    margin: auto;
    padding: 5vh;
    padding-top: 1vh;
   
    position: relative;
    border-bottom-right-radius: 14vh;
    border-radius: 2vh 2vh 14vh 2vh;
    /* background: rgb(133 105 105); */
    background: linear-gradient(rgba(238, 174, 202, 1) 0%, rgba(36, 107, 190, 1) 100%);
    color: white;
    font-family: system-ui;
}
.from_input{
    display: grid;

    grid-template-rows: auto;
    align-items: center;
    font-weight: bold;
}
.from_input input{
    height: 3vh;
    border-radius: 1vh;
    border: 0;
    outline: 0;
    
}
button{
    height: 5vh;
    width: 80%;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    background: rgba(37, 17, 65, 0.422);
}
button:hover{
 background-color: rgba(115, 72, 167, 0.48);
}
app-datos{
    
}
