<section class="seccion">
  <form class="formulario">
    <div class="formulario__container">
      <h2>Datos del cliente</h2>
      <div class="from_input">
       
        <input type="text" name="nombrepadre"  [(ngModel)]="nombrepadre" placeholder="Nombre">
      </div>
      <div class="from_input">
        
        <input type="text" name="apellido" [(ngModel)]="apellido" placeholder="Apellido">
      </div>
      <div class="from_input">
     
        <input type="text" name="edad" [(ngModel)]="edad" placeholder="Edad">
      </div>
      <button type="reset" (click)="enviar()">enviar</button>
    </div>
  </form>
  <app-datos [datos]="datos"
  (enviarDatos)="recibirDatosDelHijo($event)"
  ></app-datos> 
</section>

