.caja_registro{
 font-weight: bold;
 align-self: normal;

}
.container__boton{
    width: 100%;
    text-align: center;
}
/* tabla.component.css */
.btn-editar,
.btn-eliminar {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-editar:hover,
.btn-eliminar:hover {
  background-color: #f0f0f0;
}

.btn-editar i,
.btn-eliminar i {
  font-size: 18px;
}
