.caja_registro{
 font-weight: bold;
 align-self: normal;

}
.container__boton{
    width: 100%;
    text-align: center;
}
/* tabla.component.css */
/* .btn-editar,
.btn-eliminar {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-editar:hover,
.btn-eliminar:hover {
  background-color: #f0f0f0;
}

.btn-editar i,
.btn-eliminar i {
  font-size: 18px;
} */

/* Estilos para la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table_tr{
  border-bottom: 1px solid #f50000; 
}

.table_td, th {
  padding: 8px;
  text-align: left; 
}

th {
  background-color: #f2f2f2; 
  font-weight: bold; 
}
